@import "~taro-ui/dist/style/components/icon.scss";

.search {
    display: flex;
    align-items: center;
    width: auto;
    height: 30PX;
    padding: 0 15PX;
    border-radius: 15PX;
    background-color: #f7f7f7;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 14PX;
    margin-left: 10PX;
}
