.content {
	display: flex;
	padding: 0 20PX;
}

@media screen and (max-width: 996px) {
	.content-left {
		display: none;
	}
}

@media screen and (min-width: 996px) {
	.content-left {
		width: 250PX;
		padding-top: 10PX;
	}
	.content-right {
		margin-left: 20PX;
	}
	.content {
		padding-left: 10PX;
	}
}
.content-right {
	width: 100%;
}

.md {
	margin-bottom: 40PX;
}