.drawer-head {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50PX;
	padding: 0 10PX;
	box-shadow: 0 2PX 10PX rgba(0, 0, 0, 0.05);
}

.drawer-menu {
	display: flex;
	flex-direction: column;
	font-size: 14PX;
	color: #666;
	padding: 5PX 10PX;
}

.menu {
	margin-top: 10PX;
	padding: 5PX 10PX;
}

.menu:hover {
	background: #f1f1f1;
	border-radius: 5PX;
}
